$color-white: white;
$color-black: black;
$color-light-blue: lightblue;
$color-light-green: rgb(110, 247, 151);
$color-red: rgb(255, 139, 139);
$color-blue: rgb(74, 221, 247);
$color-light-purple: rgb(221, 195, 241);
$color-sky-blue-lighter: rgb(76, 163, 239);
$color-sky-blue-darker: rgb(15, 133, 236);
$color-grey: #c4c4c4;
$color-grey-darker: #797979;
$color-grey-light: #f9f9f9;

// Media Queries Size
$laptop: 1440.9px;
$tablet: 768.9px;
$mobile: 475.9px;
$vertical-tablet: 1024.9px;
